<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        form .helptext {
            font-size: 0.6em;
        }
        .form-column{
            display: inline-flex;
        }
    </style>
</head>
<body>

<h3>
    <ul>
        <li>
            <a href="{% url 'index' %}">Forms</a>
        </li>
        <li>
            <a href="{% url 'model forms' %}">Model Forms</a>
        </li>
    </ul>
</h3>

{% block content %}
{% endblock %}

</body>
</html>